@using Microsoft.AspNetCore.Identity
@using OhSnip.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dashboard";
}

<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("openButton").style.visibility = "hidden";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("openButton").style.visibility = "visible";
    }
</script>


<nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="">C</a>
    <a href="">C#</a>
    <a href="">C++</a>
    <a href="">CSS</a>
    <a href="">Haskell</a>
    <a href="">HTML</a>
    <a href="">Java</a>
    <a href="">JavaScript</a>
    <a href="">JavaScript React</a>
    <a href="">JSON</a>
    <a href="">Markdown</a>
    <a href="">PHP</a>
    <a href="">Plain Text</a>
    <a href="">Python</a>
    <a href="">R</a>
    <a href="">Razor</a>
    <a href="">Ruby</a>
    <a href="">SQL</a>
    <a href="">Swift</a>
    <a href="">Typescript</a>
    <a href="">Visual Basic</a>
    <a href="">XML</a>
</nav>

<span id="openButton" onclick="openNav()">Choose Language</span>
<div id="main" class="main">
    <h2>Welcome!</h2>

    <form asp-controller="Snippet" asp-action="Dashboard" method="post">
        <div class="input-group col-xs-12 col-md-6">
            <input type="text" class="form-control" placeholder="Search" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i> 
                </button>
            </div>
        </div>
    </form>
    <a class="button" type="button" href="/AddSnippet">Add New</a>

    @{    
        foreach(var snip in @ViewBag.allsnippets)
        {
            if(snip.ApplicationUserId == UserManager.GetUserId(User))
            {
                    <div>
                        <h3>@snip.Title</h3>
                        <p>@snip.Description</p>
                        <div>
                            <p>@snip.Code</p>
                            <a class="button" type="button" href="/EditSnippet/@snip.SnippetId">Edit</a>
                            <a type="button" class="button" href="/DeleteSnippet/@snip.SnippetId">Delete</a>
                        </div>
                    </div>
            }
        }
    }

</div>
